h1 {
  color: rgb(195, 226, 15);
}
h2 {
  color: rgb(2, 88, 2);
}

body{
  background: #9becac; 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
  margin: 0;
  scroll-behavior: smooth;
  padding-top: 70px;
}
  nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(2, 95, 26, 0.877);
    border-radius: 0px;
    text-align: center;
  }
  
  header {
    background-color: rgb(43, 156, 60);
    color: rgb(72, 6, 224);
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}
.menu-item {
  text-decoration: none;
  color: rgb(3, 95, 15);
  padding: 10px;
  display: inline-block;
}
.menu-item:hover {
  background-color: #ddd;
  transition: all 0.4s ease-in-out;
  border-radius: 20px;
}
section {
  padding: 20px;
  border: 1px solid rgb(3, 97, 26);
  margin-bottom: 20px;
}
#acerca-de-mi {
  text-align: justify;
}
#habilidades ul {
  list-style: none;
  padding: 0;
}

#habilidades ul li {
  display: inline-block;
  padding: 5px;
  border: 1px solid rgb(5, 163, 58);
  border-radius: 20px;
  margin-right: 10px;
}
#experiencia ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#experiencia ul li {
  margin-bottom: 10px;
}
#proyectos ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#proyectos ul li a {
  text-decoration: none;
  color: #333;
}

#proyectos ul li a:hover {
  text-decoration: underline;
  font-style: italic;
  font-weight: 100;
}
#sociales {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

#sociales li {
  list-style: none;
  display: inline-block;
  padding: 5px;
  font-size: 50px;
}

.fa {
  color: #333;
  text-decoration: none;
  margin-left: 0px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}


